.header {
  color: rgb(8, 158, 158);
  background-color: rgb(186, 236, 232);
  font-style: italic;
  text-align: center;
}

.content {
  color: rgb(146, 7, 72);
  font-family: cursive;
  background-color: rgb(245, 228, 248);
  text-align: center;
}

.footer {
  color: rgb(6, 90, 90);
  font-family: fantasy;
}
